<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetIO</title>

    <!-- Element and Vue.js -->
    <script src="../static/js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/login.css"/>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="loginBackground" >
    <el-carousel :height="viewHeight" id="carousel">
        <el-carousel-item v-for="(item,index) in list":key="index" >
            <div :class="item" ></div>
        </el-carousel-item>
    </el-carousel>
</div>
<div id="frontContainer">
</div>



</body>
<script src="../static/js/login.js"></script>
</html>